.singleMovie-wrapper {
	display: flex;
	position: absolute;
	/* width: 100vw; */
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--true-black);
}

.show-video-modal {
	position: absolute;
	z-index: 1;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #222222b2;
}

.disable-video-modal {
	display: none;
}

iframe {
	width: 120vh;
	height: calc(120vh / 16 * 9);
	display: block;
}

@media (min-aspect-ratio: 3/4) {
	width: 80vw;
	height: calc(80vw / 16 * 9);
}
